@tailwind base;
@tailwind components;
@tailwind utilities;

//Global base styles 
@layer base {
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    //link styling 
    a {
        @apply font-bold;
    }

    a:hover {
        @apply hover:text-blue-500;
    }

    // Text styling
    h1 {
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 1.5rem;
        font-weight: 500;
    }

}


a {
    &.router-link-exact-active {
        @apply text-blue-600;
    }
}